.lnr {
    display: inline-block;
    fill: currentColor;
    width: 1em;
    height: 1em;
    vertical-align: -0.05em;
    stroke-width: 2;
}

.lnr-cart {
    width: 1.5em;
    height: 1.5em;
}

.lnr-magnifier {
    color: #000000;   
}

.navbar-nav li {
    margin-right: 3em;
}

section {
    margin-top: 40px;
}

.h {
    text-align: center;
}

.card-body {
    align-content: center;
}

footer {
    margin-top: 60px;
    padding: 5em;
}

.some-gray-box {
    background-color: #0000000a;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-wrap: wrap;
}

.some-gray-box-text {
    width: 300px;
    text-align: justify;
}

.some-gray-box-image {
    width: 200px;
    border-radius: 10px;
}

.social-button {
    width: 50px;
    height: 50px;
    border-radius: 50px;
}

.btn.facebook {
    color: #1774e4;
}

.btn.youtube {
    color: #fc0018;
}

.btn.twitter {
    color: #289ced;
}

.contact-info {
    text-align: end;
}

.row.footer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

.container.about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

#carouselExampleControls {
    width: 300px;
}
